<div class="card mb-3">
  <h5 class="card-header ">{{ pet.name }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
      {{ pet.description|truncatewords_html:30 }}
      <hr>
      <div class="text-right"><a href="{% url 'pet-details-page' pet.slug %}" title="Read More">Read More</a></div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated {{ pet.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ pet.owner.username }}</b></small>
  </div>
</div>
